# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://usernamysql:passwordmysql@host:port/namedb"
JWT_SECRET="yourjwtsecret"
ROLEID=1
SALT=numsalt
MQTT_URL="mqtt://example_Url:POrt"
MQTT_USERNAME="usernameMqqtt"
MQTT_PASSWORD="PasswordMqqtt"
MQTT_TOPIC="topicMqqtt"
RABBITMQ_URL="amqp://example_Url:Port"
RABBITMQ_USERNAME="usernameRabbitmq"
RABBITMQ_PASSWORD="PasswordRabbitmq"
RABBITMQ_QUEUE="queueRabbitmq"